<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <serialization>
      <default>
        <include database="master" path="/sitecore/content/Events"/>
        <include database="master" path="/sitecore/templates/TAC/Events"/>
        <include database="master" path="/sitecore/layout/Renderings/TAC/Events"/>
        <include database="master" path="/sitecore/media library"/>
      </default>
    </serialization>
  </sitecore>
</configuration>
