@using events.tac.local.Models

@model IEnumerable<NavigationItem>
<ol class="breadcrumb">
    @foreach (var navItem in Model)
    {
        <li class="@(navItem.Active ? "active" : string.Empty)">
            <a href="@navItem.URL">@navItem.Title</a>
        </li>
    }
</ol>

